.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  &-logo {
    &-image {
      width: 100%;
      max-width: 200px;
    }
  }

  &-item {
    display: flex;
    align-items: baseline;
    gap: 0.2rem;
    margin-right: 0.5rem;
    text-decoration: none;
    color: $text-color;
    font-weight: bold;
    background-color: white;
    font-size: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header-item-container {
  display: flex;
}
